
/* =========================================================
 * Media Query Styles
 * ========================================================= */

@media only screen 
and (min-width : 720px) {
	.makeSpaceForFilter {
		width: calc(100% - 300px) !important;
	}
}

/* Tablets (portrait and landscape) ----------- */
@media only screen 
and (max-width : 720px) {

	.mobile {
		display: initial;
	}

	.desktop {
		display: none;
	}

	header .searchbox {
		background-color: rgba(255,255,255,0);
		width: 50px;
		right: 60px;
	}

	.filterBtn span {
		display: none;
	}

	#vancouverMap .btn-next {
		position: fixed;
		right: 30px;
		left: initial;
		bottom: 30px;
	}

	#vancouverMap .btn-next:after {
		background-position: center;
		-webkit-background-position: center;
	}

	#vancouverMap .btn-next.mapIcon:after {
		background-position: bottom;
		-webkit-background-position: bottom;
	}

	#filter-panel {
		width: 100%;
		height: 500px;
		margin-right: 0;
		top: -500px
	}

	#filter-panel.open {
		top: 0;
	}
}



/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (max-width : 480px) {

}