 /* =========================================================
 * Scrollbars
 * ========================================================= */

#stylePicker::-webkit-scrollbar {
    height: 3px;
    padding: 20px;
}

#stylePicker::-webkit-scrollbar-track {
}

#stylePicker::-webkit-scrollbar-thumb {
    border-radius: 0;
    background: gray;
}

 /* =========================================================
 * Baseline styles
 * ========================================================= */

body {
	font-family: 'Open Sans', sans-serif;
	background: #fafafa;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
}


a, a:hover {
	text-decoration: none;
	color: black;
}

ul {
	padding: 0;
}

button {
	outline: none !important;
}

.clearfix {
    display: inline-block;
    opacity: 0;
    margin: 0;
    padding: 0;
    height: 1px;
    width: 100%;
}

 /* =========================================================
 * Header
 * ========================================================= */

header {
	height: 64px;
	background-color: gray;
	color: #fff;
	position: relative;
	box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
	position: fixed;
	width: 100%;
	z-index: 1000;
	top: 0;
}

header select {
	position: absolute;
	right: 0;
	top: 0;
	display: inline-block;
	outline: 0 !important;
	background: transparent;
	margin: 20px;
	font-size: 16px;
	border-radius: 0;
	-webkit-border-radius: 0;
	border: 0;
}


header .searchbox {
	width: 33%;
	float: left;
	margin: 14px 0;
	position: absolute;
	right: 200px;
	background: rgba(255,255,255,.15);
	border-radius: 2px;
	position: relative;
	display: -webkit-flex;
	display: flex;
	-webkit-flex: 1;
	flex: 1;
	position: absolute;
	top: 0;
	padding: 8px;
	padding-left: 50px;
	background-image: url('../images/icons/search.png');
	background-size: 24px 24px;
	background-repeat: no-repeat;
	background-position: 14px 50%;
}

		.searchbox input {
			width: 100%;
		}

			input.unstyled, textarea.unstyled {
				padding: 0;
				margin: 0;
				border: none;
				outline: none;
				resize: none;
				border-radius: 0;
				-webkit-border-radius: 0;
				-moz-border-radius: 0;
				background-clip: padding-box;
				border-radius: 0;
				-webkit-border-radius: 0;
				-moz-border-radius: 0;
				background-clip: padding-box;
				border-radius: 0;
				-webkit-border-radius: 0;
				-moz-border-radius: 0;
				background-clip: padding-box;
				-o-box-sizing: content-box;
				box-sizing: content-box;
				-o-box-sizing: content-box;
				box-sizing: content-box;
				-o-box-sizing: content-box;
				box-sizing: content-box;
				box-shadow: none;
				-o-box-shadow: none;
				box-shadow: none;
				-o-box-shadow: none;
				box-shadow: none;
				-webkit-box-shadow: none;
				-moz-box-shadow: none;
				-o-box-shadow: none;
				background: rgba(0,0,0,0);
			}

.pushBelowHeader {
	margin-top: 64px;
}

.navTitleMobile {
	position: absolute;
	top: 0;
	left: 80px;
	font-size: 24px;
	margin: 15px 0;
}

.navDesktop a, .filterBtn span {
	color: #fff;
	font-size: 16px;
	padding: 22px;
	display: inline-block;
	height: 64px;
	box-sizing: border-box;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	text-transform: uppercase;
	opacity: 0.8;
}

.navDesktop a.selected {
	opacity: 1;
	border-bottom: 2px solid white;
}

.filterBtn {
	position: absolute;
	right: 0;
	top: 0;
	background: none;
	border: 0;
	padding: 0;
}


.nav_icon {
	background-size: 24px;
	display: inline-block;
	height: 24px;
	margin: 20px 24px;
	width: 24px;
	-webkit-user-drag: none;
	opacity: 1;
	float: left;
}

.filterBtn span {
	padding-left: 0;
	padding-right: 30px;
}

 /* =========================================================
 * Filter
 * ========================================================= */

#stylePicker {
	margin-top: 60px;
	padding: 60px;
	background: #ececec;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	margin-bottom: 60px;
	width: 100%;
	white-space: nowrap;
	overflow-y: hidden;
	overflow-x: scroll;
	-webkit-overflow-scrolling: touch;
	text-align: center;
}

.styleDiv {
	display: inline-block;
	width: 200px;
	height: 200px;
	background: white;
	padding: 20px;
}

 /* =========================================================
 * Beers Results
 * ========================================================= */

#beerResults .container {
	max-width: 650px;
}


.beerTitle {
	display: inline-block;
	padding-right: 20px;
	width: 200px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.beerData {
	display: inline-block;
	width: 100px;
	text-align: center;
	color: rgba(0,0,0,0.5);
	border-left: 1px solid rgba(0,0,0,0.1);
}

.right {
	float: right;
}

#beerResults {
	padding-top: 60px;
}

	#beerResults .row {
		margin-bottom: 20px;
	}

.beerListImg {
	width: 100%;
}

.beerListInfo h3 {
	margin-bottom: 10px;
	font-size: 24px;
}


 /* =========================================================
 * Brewery Map
 * ========================================================= */

#vancouverMap {
	height: 650px;
	background: #B0B0B0;
	position: relative;
}

.fab-btn:before, .fab-btn:after {
	background: no-repeat 50% 50%;
	border-radius: 50%;
	box-shadow: 0 2px 10px 0 rgba(0,0,0,.16);
	content: "";
	height: 56px;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	transition: all .28s cubic-bezier(.4,0,.2,1);
	width: 56px;
}

.fab-btn {
	display: inline-block;
	position: absolute;
	outline: none;
	-webkit-user-select:	none;
	-moz-user-select: 			none;
	-ms-user-select: 			none;
	user-select: 			none;
	cursor: pointer;
	z-index: 0;
	box-sizing: border-box;
	width: 56px;
	height: 56px;
	background: white;
	color: #fff;
	border-radius: 50%;
	padding: 16px;
}

#vancouverMap .btn-next {
	position: absolute;
	left: 50%;
	margin-left: -28px;
	bottom: -28px;
}

#vancouverMap .btn-next:after {
	background: url(../images/icons/fab-icons_black.svg) no-repeat;
	background-size: 56px;
	background-position: top;
	-webkit-background-position: top;
	opacity: .5;
}

#map_canvas {
	position: absolute;
	width: 100%;
	height: 100%;
}

.map-container {
	width: 100%;
	height: 100%;
	display: block;
	overflow: hidden;
}

.angular-google-map-container { 
	height: 680px;
}

.mobile {
	display: none;
}