<script src="scripts/logic.js"></script>
<script src="scripts/menu.js"></script>

<div ng-controller="BreweryListController" data-ng-init="init()">
	<header class="main">
		<button class="menuBtn">
			<img src="images/icons/menu_white.svg" class="nav_icon mobile">
		</button>
		<div class="navTitleMobile mobile">
			<span>Breweries</span>
		</div>
		<div class="navDesktop desktop">
			<a href="#/breweries" class="selected">Breweries</a>
			<a href="#/beers">Beers</a>
		</div>

		<div class="searchbox">
			<span class="searchicon"></span>
			<input ng-model="query.name" class="unstyled" id="search">
		</div>
	</header>

	<div id="vancouverMap" >
		<div class="map-container">
			<ui-gmap-google-map center='map.center' zoom='map.zoom' options='map.options'>
				<ui-gmap-marker ng-repeat="marker in markers"
					coords="marker.coords" 
					options="marker.options" 
					events="marker.events" 
					idkey="marker.id"
					click="marker.click"
					icon="marker.icon">
			</ui-gmap-google-map>
		</div>
		<a id="fab" class="fab-btn btn-next"></a>
	</div>

	<section id="brewerResults" class="pushBelowHeader">
		<div class="container">
			<div class="beerListInfo col-xs-12">
				<p>Order: 
					<select ng-model="orderProp">
						<option value="name">Alphabetical</option>
						<option value="">Most Beers</option>
						<option value="">Least Beers</option>
					</select>
				</p>
			</div>
			<span class="line"></span>
			<div class="row" ng-repeat="brewery in breweries | filter:query | orderBy:orderProp">
				<a href="#/breweries/{{brewery.id}}">
					<div class="beerListInfo col-xs-12">
						<h3>{{brewery.name}}</h3>
						<p>{{brewery.address}}</p>
					</div>
				</a>
			</div>
		</div>
	</section>
</div>