<script>

	$(window).scroll(function(){

		var scrollTop = $(window).scrollTop();

        var w = $(window).width();
        contentTop = $("#detailContent").offset().top - scrollTop;
    	if (contentTop < 80) {
    		$('header').removeClass('detail-view');
    	} else {
    		$('header').addClass('detail-view');
    	}
		
		var newOpacity = 1 - $(window).scrollTop() / 300;
        $(".shadow").css({
            opacity: newOpacity
        });   
        $(".heroImage").css({
            opacity: newOpacity
        });   		
   });

</script>


<header class="detail-view">
	<a href="./#/beers">
		<img src="images/icons/back_white.svg" class="nav_icon">
	</a>
	<div class="navTitleMobile">
		<span>{{beer.name}}</span>
	</div>
	<div class="heroImage" 
		style="
			background:  url('images/beers/beer.png');
			background-size: cover;
			background-position: center;
		">
	</div>
	<div class="shadow"></div>
</header>

<div id="detailContent">
	<div class="container">
		<section>
			<p>{{beer.brewery}}</p>
		</section>
		<section>
			<h3>Style</h3>
			<p>{{beer.style}}</p>
		</section>
		<section>
			<h3>About</h3>
			<p>{{beer.description}}</p>
		</section>
		<section>
			<h3>Alcohol (ABV):</h3>
			<h3>{{beer.alcohol}}%</h3>
		</section>
		<section>
			<h3>Bitterness (IBU):</h3>
			<h3>{{beer.bitterness}}</h3>
		</section>
		...we're planning on sweet graphical ways to show this stuff. But ain't nobody got time to wireframe dat.
	</div>
</div>